<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <span><mat-icon>public</mat-icon> Ingenieria WEB </span>
                <a mat-raised-button color="primary" routerLink="/home">
                    <mat-icon>home</mat-icon>
                    Home</a>
                <a mat-raised-button color="primary" routerLink="/employees">
                    <mat-icon>view_list</mat-icon>
                    Lista de Empleados</a>
            </nav>
            <a mat-raised-button color="primary" routerLink="/home">
                <mat-icon>login</mat-icon>
                Iniciar sesión</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>