<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav class="example-button-row">
                <span><mat-icon>public</mat-icon> Ingenieria WEB </span>
                <a mat-raised-button color="primary" routerLink="/home" title="Inicio">
                    <mat-icon>home</mat-icon>
                    Home</a>
                    <a mat-raised-button color="primary" routerLink="/employees" *ngIf = "user$ |async as user" title="Lista de Empleados">
                        <mat-icon>view_list</mat-icon>
                        Empleados</a>
                    <a mat-raised-button color="primary" routerLink="/actors" *ngIf = "user$ |async as user" title="Lista de Empleados">
                        <mat-icon>view_list</mat-icon>
                        Actores</a>
            </nav>
            <div>
                <div *ngIf = "user$ |async as user; else login"> 
                    <a mat-flat-button color="primary"><mat-icon>person</mat-icon>
                        Bienvendio: {{user?.email}}</a>
                    <a mat-flat-button color="primary" (click) = "onLogout()">
                        <mat-icon title="Cerrar sesión">logout</mat-icon>
                    </a>
                </div>
                <ng-template #login>
                    <div>
                        <a mat-flat-button color="primary" routerLink="/register">
                            Registrate</a>
                        <a mat-flat-button color="primary" routerLink="/login">
                            <mat-icon>login</mat-icon>
                            Iniciar sesión</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>