<app-header></app-header>
<mat-card>
    <mat-card-content>
        <form [formGroup] = "createFilm" (ngSubmit) = "addFilm()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Titulo</mat-label>
                <textarea matInput formControlName="title" placeholder="Ej. Juan"></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Imagen</mat-label>
                <textarea matInput formControlName="image" placeholder="Ej. Juan"></textarea>
              </mat-form-field>
        
<div class="row">
    <div>
        <div class="card">
            <div class="header">
                <span>Fotoos</span>
            </div>
            <div>
                <div 
                appNgFiles
                [files]="files"
                (mouseOver)= "isOverDrop = $event"
                [ngClass]="{'file-over': isOverDrop}"
                class="drop-zone">
                    Drop-Zone
                
                <h4>Arrasta tu imagen AKI</h4>
                <mat-icon title="Arrasta la imagen aqui">file_upload</mat-icon>
            </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="header">
                <h4>Fotos por subir</h4>
            </div>
            <div class="body">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre de la foto</th>
                            <th>Tamaño</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let file of files">
                            <td>{{file.name}}</td>
                            <td >{{file.file.size /1024 /1024 | number:".2.2"}}MB</td>
                            <td *ngIf="file.downloadURL |async as downloadURL">{{downloadURL}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="container">
                    <button type= "button" (click)="files = []">
                        Borrar
                    </button>
                    <button type= "button" (click)="onUpload()"
                    [disabled] = "files.length === 0">
                        Subir 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="submit" mat-raised-button color="accent">Guardar</button>
</form>
</mat-card-content>
</mat-card>