<div class="row">
    <div>
        <div class="card">
            <div class="header">
                <span>Fotoos</span>
            </div>
            <div>
                <div>
                    Drop-Zone
                </div>
                <h4>Arrasta tu imagen AKI</h4>
                <img src="" alt="drop images">
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="header">
                <h4>Fotos por subir</h4>
            </div>
            <div class="body">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre de la foto</th>
                            <th>Tamaño</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>file.name</td>
                            <td>file.file.size</td>
                            <td>file.downloadURL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>