<app-header></app-header>
<div class="container">
    <mat-card>
        <div class="align">
            <mat-card-title>{{title}}</mat-card-title>
        </div>
        <mat-card-subtitle>{{description}}</mat-card-subtitle>
        <mat-card-content>
          <span class="align" color="warn" *ngIf="submitted && createEmployee.invalid"> TODOS LOS CAMPOS SON REQUERIDOS</span>
            <form [formGroup] = "createEmployee" (ngSubmit) = "addUpdateEmployee()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <textarea matInput formControlName="firstName" placeholder="Ej. Juan"></textarea>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <textarea matInput formControlName="lastName" placeholder="Ej. Perez"></textarea>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>User Name</mat-label>
                    <textarea matInput formControlName="userName" placeholder="Ej. juan123"></textarea>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Correo electrónico</mat-label>
                    <textarea matInput formControlName="email" placeholder="Ej. juan@gmail.com"></textarea>
                  </mat-form-field>
                  <div class="align">
                    <mat-card-actions>
                        <button type= "button" mat-raised-button color="primary" routerLink="/employees">Volver</button>
                        <button type="submit" mat-raised-button color="accent">{{button}}</button>
                    </mat-card-actions>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
