<div>
    <mat-card-content>
        <form [formGroup] = "userMail" (ngSubmit) = "onResetEmail()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <textarea matInput formControlName="email" placeholder="Ej. juan@gmail.com"></textarea>
              </mat-form-field>
              <mat-card-actions>
                <button type= "button" mat-raised-button color="primary" routerLink="/login">Volver</button>
                <button type="submit" mat-raised-button color="accent">Restablecer contraseña</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</div>